body {
    background-color: #000000; 
}

header {
    margin-top: 3%;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #E900FF;
    background-color: #000000;
}

.nav-link {
    color: #E900FF;
    font-family: 'Courier New', sans-serif;
    font-size: 1.5em;
}

body {
    background-image: linear-gradient(#000000 10%, #ffffff 90%);
}

h1 {
    color:#5800FF;
    text-align: center;
    margin-top: -2%;
    font-family: 'Courier New', courier, monospace;
    font-size: 7em;
}

h2 {
    color: #5800FF;
    text-align: center;
    font-family: 'Courier New', courier, monospace;
    font-size: 1.5em;
}

.about {
    margin-top: 15%;
}

.headshot {
    margin-left: 150px;
    margin-right: 50px;
    margin-top: 130px;
}

.aboutme {
    margin-top: -230px;
    margin-left: 45%;
    margin-right: 10%;
    margin-bottom: 100px;
    color: #000000;
    font-family: 'Courier New', courier, monospace;
    font-size: 1.5em;
    line-height: 2;
}

.projects {
    margin-top: 5%
}

.row {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.container {
    margin-left: 650px;
    margin-bottom: 30px;
}

.btn-primary {
    color: #474B4F;
    background-color: #FFC600;
    border-color: #222629;
    font-family: 'Courier New', courier, monospace;
}

.card-title {
    text-align: center;
    color: #E900FF;
    font-family: 'Courier New', courier, monospace;
    border-color: #222629;
}

.card-body {
    background-color: #000000;
}

.container {
    margin-left: 42%;
    margin-right: 45%;
}

.fab {
    color: #FFC600;
}