body {
    background-color: #222629; 
}

header {
    margin-top: 3%;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #474B4F;
    background-color: #86C232;
}

.nav-link {
    color: #86C232;
    font-family: 'Orbitron', sans-serif;
}

body {
    background-color: black;
}

h1 {
    color: #61892F;
    text-align: center;
    margin-top: 4%;
    font-family: 'Orbitron', sans-serif;
    font-size: 100;
}

h2 {
    text-align: center;
}

.about {
    margin-top: -9%;
}

.headshot {
    margin-left: 150px;
    margin-right: 50px;
    margin-top: 130px;
}

.aboutme {
    margin-top: -230px;
    margin-left: 45%;
    margin-right: 10%;
    margin-bottom: 100px;
    color: #6B6E70;
    font-family: 'Orbitron', sans-serif;
    font-size: 40;
    line-height: 2;
}

.projects {
    margin-top: 5%
}

.row {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.container {
    margin-left: 650px;
    margin-bottom: 30px;
}

.btn-primary {
    color: #474B4F;
    background-color: #86C232;
    border-color: #222629;
    font-family: 'Orbitron', sans-serif;
}

.card-title {
    text-align: center;
    color: #61892F;
    font-family: 'Orbitron', sans-serif;
    border-color: #222629;
}

.card-body {
    background-color: #474B4F;
}

.container {
    margin-left: 42%;
    margin-right: 45%;
}

.fab {
    color: #86C232;
}