body {
    background-color: #000000; 
}

header {
    margin-top: 3%;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #E900FF;
}

.nav-link {
    color: #E900FF;
    font-family: 'Rubik', sans-serif;
    font-size: 1.5em;
}

.nav-link:hover {
    color: #FFC600;
}

body {
    /* background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 65%, rgba(0,0,0,1) 90%); */
    /* background-image: linear-gradient(#000000 10%, #ffffff 90%); */
    background: white;
}

h1 {
    color:#5800FF;
    text-align: center;
    margin-top: 0%;
    font-family: 'Rubik', sans-serif;
    font-size: 6em;
    font-weight: 500;
}

h2 {
    color: #5800FF;
    text-align: center;
    margin-top: 2%;
    font-family: 'Rubik', sans-serif;
    font-size: 1.5em;
}

h3 {
    color: #5800FF;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 3em;
}

.about {
    margin-top: -5%;
}

.headshot {
    margin-left: 150px;
    margin-right: 50px;
    margin-top: 130px;
}

.aboutme {
    margin-top: -230px;
    margin-left: 45%;
    margin-right: 10%;
    margin-bottom: 100px;
    color: #000000;
    font-family: 'Rubik', sans-serif;
    font-size: 1.5em;
    line-height: 2;
    font-weight: light;
}

.projects {
    margin: auto;
    margin-left: 40%;
    margin-top: 5%;
    font-family: 'Rubik', sans-serif;
}

.row {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.container {
    margin-left: 650px;
    margin-bottom: 30px;
}

.btn-primary {
    color: #474B4F;
    background-color: #FFC600;
    border-color: #222629;
    font-family: 'Courier New', courier, monospace;
}

.btn-primary:hover {
    background-color: #E900FF;
}

.card-title {
    text-align: center;
    color: #E900FF;
    font-family: 'Courier New', courier, monospace;
    border-color: #222629;
}

.card-body {
    box-sizing: border-box;
    padding-bottom: 20px;
    border: 3px solid #000000;
    background-color: #000000;
}

.container {
    margin-left: 42%;
    margin-right: 45%;
}

.navbar {
    background-color: #000000;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

.fab {
    color: #FFC600;
}

.fab:hover {
    color: #E900FF;
}